{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block addons_head %}
<link rel="stylesheet" href="{% static 'css/support.css' %}?ver={{ static_version }}" />
<script defer src="{% static 'js/support.js' %}?ver={{ static_version }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            <div class="help_block">
                <div class="support-content">
                    <aside>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="simple-tabs__pagination">
                                    <button class="simple-tabs" data-nav-tab="true" data-tabs-id="1">Почему при открытии аккаунта в таблице я не вижу логин и пароль?</button>
                                    <button class="simple-tabs" data-nav-tab="true" data-tabs-id="2">Как получить логин и пароль из аккаунта?</button>
                                    <button class="simple-tabs" data-nav-tab="true" data-tabs-id="3">Я забыл мастер пароль, что мне делать?</button>
                                    <button class="simple-tabs" data-nav-tab="true" data-tabs-id="4">Как вы защищаете мои данные?</button>
                                    <button class="simple-tabs" data-nav-tab="true" data-tabs-id="5">Зачем подтверждать почту?</button>
                                    <button class="simple-tabs" data-nav-tab="true" data-tabs-id="6">Почему появилось уведомление о том, что у меня не указана почта?</button>
                                    <button class="simple-tabs" data-nav-tab="true" data-tabs-id="7">Отправил заявку на восстанавление пароля, но письмо не приходит, в чем дело?</button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="swiper-container">
                                    <div data-tabs="1" class="active">
                                        <strong>Почему при открытии аккаунта в таблице я не вижу логин и пароль?</strong>
                                        <p>Потому что там распологаются поля для ввода нового логина и пароля, из соображения безопастности они не выводятся на экран сразу.</p>
                                    </div>
                                    <div data-tabs="2">
                                        <strong>Как получить логин и пароль из аккаунта?</strong>
                                        <p>Для этого есть кнопки "Логин" и "Пароль" справа внизу модального окна, если Вы хотите скопировать данные в буфер обмена то достаточно один раз кликнуть по необходимой кнопке.</p>
                                        <p>Если же хотите увидеть логин или пароль на экране, то нажмите и удерживаете нужную кнопку, и в течении секунды откроется окно с Вашими данными.</p>
                                    </div>
                                    <div data-tabs="3">
                                        <strong>Я забыл мастер пароль, что мне делать?</strong>
                                        <p>Увы уже ничего не сделать, система шифрования не позволяет восстанавливать мастер пароль, поэтому, если у Вас ни как не получается вспомнить свой мастер пароль, то, Вы можете воспользоваться <a href="{% url 'master_password_reset_url' %}">формой сброса мастер пароля</a>.</p>
                                        <p>Сбросив свой аккаунт Вы можете задать новый мастер пароль, но при этом все аккаунты в таблицу будут удалены.</p>
                                    </div>
                                    <div data-tabs="4">
                                        <strong>Как вы защищаете мои данные?</strong>
                                        <p>Сайт использует современные методики защиты и шифрования данных в связке с общими практиками по информационной безопастности.</p>
                                        <p>Более подробно о безопастности нашего приложения вы можете узнать на странице <a href="{% url 'protection_url' %}">защиты ваших данных</a>.</p>
                                    </div>
                                    <div data-tabs="5">
                                        <strong>Зачем подтверждать почту?</strong>
                                        <p>Это необходимо, если Вы забудете пароль от учетной записи, и захотите восстановить пароль.</p>
                                        <p>Важно, если Вы не подтвердили почтовый адрес, то не сможете восстановить учетную запись, так как в ином случае мы не можем гарантировать безопастность.</p>
                                    </div>
                                    <div data-tabs="6">
                                        <strong>Почему появилось уведомление о том, что у меня не указана почта?</strong>
                                        <p>Появление этого уведомления означает, что Вы или кто то другой, кто имеет доступ к указанной ранее почте, подтвердил ее на другой учетной записи.</p>
                                        <p>Сейчас Вам необходимо перейти по ссылке в уведомлении, указать новую почту, и подтвердить ее.</p>
                                    </div>
                                    <div data-tabs="7">
                                        <strong>Отправил заявку на восстанавление пароля, но письмо не приходит, в чем дело?</strong>
                                        <p>Если Вы не подтвердили почту которую указывали при регистрации, то увы, письмо не прийдет, иначе мы не можем гарантировать безопастность Вашей учетной записи, остается только зарегистрировать новую учетную запись.</p>
                                        <p>Если же Вы подтверждали почту, то ожидайте, в течении 5 минут письмо должно прийти. Внимательно проверьте все папки почтового ящика, возможно письмо находится в папке спам.</p>
                                        <p>Если по истечении этого времени письма нет, то повторите попытку восстановления пароля.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
{% endblock %}