{% extends 'base.html' %}
{% load static %}
{% block title %}Ошибка 403 CSRF. Доступ запрещён.{% endblock %}
{% block content %}
<div class="container">
    <h2>Ошибка 403 CSRF. Доступ запрещён. 🚷</h2>
    <p>Этот сайт требует наличия файла cookie CSRF при отправке форм. Этот файл cookie необходим по соображениям безопасности, чтобы гарантировать, что ваш браузер не будет взломан третьими лицами.</p>
    <p>Если вы настроили свой браузер так, чтобы он не сохранял файлы cookie, включите их снова, по крайней мере, для этого сайта или для запросов того же происхождения.</p>
    <div class="horizontal-bottom-line"></div>
</div>
{% endblock %}