{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block addons_head %}
<script defer type="text/javascript" src="{% static 'js/form_message_handler.js' %}?ver={{ static_version }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            {% if master_password %}
            <p align="center">Забыли мастер пароль? Введите ниже пароль от учетной записи, для сброса мастер пароля.</p>
            <p align="center">Внимание! После сброса мастер пароля, все сохраненые аккаунты в таблице на главной странице будут утеряны!</p>
            <div class="row flex nomargin">
                {% load crispy_forms_tags %}
                <div class="card">
                    <div class="card-body">
                        <form method="post">{% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary btn-block bubbly-button">Сбросить мастер пароль</button>
                        </form>
                    </div>
                </div>
            </div>
            {% else %}
            <p align="center">Вы еще не установили мастер пароль, вернитесь на <a href="{% url 'home_url' %}">главную</a> страницу, чтобы сделать это.</p>
            {% endif %}
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
<input type="hidden" id="form_message" value="{{ form_message }}">
{% endblock %}