{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block addons_head %}
<link rel="stylesheet" href="{% static 'css/table-theme-blue.css' %}?ver={{ static_version }}">
<script defer type="text/javascript" src="{% static 'js/addons/jquery.tablesorter.min.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/bubbly_animation.js' %}?ver={{ static_version }}"></script>
<script defer type="text/javascript" src="{% static 'js/ajax_setup.js' %}?ver={{ static_version }}"></script>
<script defer type="text/javascript" src="{% static 'js/tour.js' %}?ver={{ static_version }}"></script>
<script defer type="text/javascript" src="{% static 'js/addons/crypto-js.min.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/kolt_crypto.js' %}?ver={{ static_version }}"></script>
<script defer type="text/javascript" src="{% static 'js/home.js' %}?ver={{ static_version }}"></script>
{% endblock %}
{% block content %}
<div class="container account_container {% if not request.user.profile.is_active_email and request.user.is_authenticated %}mt-20{% endif %}">
    <div align="center" class="main_buttons">
        <button id="btn_create_account_modal" data-toggle="modal" data-target="#CreateAccountModal" class="btn btn-primary">Добавить аккаунт</button>
        <button id="btn_master_password_modal" data-toggle="modal" data-target="#MasterPasswordModal" class="btn btn-primary">Мастер пароль</button>
        {% if request.user.is_staff %}
        <!-- Потом удалить -->
        <!-- <input id="btn_master_import" type="file" value="Import" class="btn btn-primary"/> -->
        {% endif %}
    </div>
    <input class="form-control" placeholder="Поиск" type="text" id="in-search" maxlength="254">
    <table id="Accounts_table" class="tablesorter tablesorter-blue table-hover">
        <thead>
            <tr>
                <th class="account_table_th_icon" id="js-account-counter">{{ accounts.count }}</th>
                <th>Сайт</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr data-toggle="modal" data-target="#AccountModal" data-id="{{ account.id }}">
                <td class="td-favicon"><img data-id="{{ account.id }}" class="favicon-sites" height="16" width="16" alt="icon"></td>
                <td class="td-site" data-id="{{ account.id }}">{{ account.site }}</td>
                <td class="td-description" data-id="{{ account.id }}">{{ account.description }}</td>
                <td class="td-login td-hide" data-id="{{ account.id }}">{{ account.login }}</td>
                <td class="td-password td-hide" data-id="{{ account.id }}">{{ account.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="horizontal-bottom-line"></div>
</div>
<div align="center" class="btn-reshow_modal js-reload_enter_key_modal" data-toggle="modal" data-target="#EnterKeyModal">
    <button class="btn btn-primary">Загрузить таблицу</button>
</div>
<div align="center" class="btn-reshow_modal js-reload_master_password_modal" data-toggle="modal" data-target="#MasterPasswordModal">
    <button class="btn btn-primary">Создать мастер пароль</button>
</div>
<div id="AccountModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-create-account">
                <button type="button" class="btn btn-danger btn-round modal-header-create-account_delete_button" data-site="" data-id="" id="modal-btn-account_delete">Удалить</button>
                <button class="btn btn-primary bubbly-button btn-round" id="modal-btn-save">Сохранить</button>
                <button type="button" class="close btn-close btn-close_account-modal" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body modal-body-show-account">
                <label for="modal-site">Сайт</label>
                <input class="form-control" type="text" id="modal-site" maxlength="254">
                <label for="modal-description">Описание</label>
                <input class="form-control" type="text" id="modal-description" maxlength="254">
                <label for="modal-new_login">Логин</label>
                <input class="form-control" type="text" id="modal-new_login" placeholder="Введите новый логин" maxlength="254">
                <label for="modal-new_password">Пароль</label>
                <input class="form-control" type="password" id="modal-new_password" placeholder="Введите новый пароль" maxlength="254">
                <input id="modal-login" maxlength="254">
                <input id="modal-password" maxlength="254">
            </div>
            <div align="center" class="modal-footer modal-footer-show-account">
                <div align="center" id="js-tour_show_account_modal_footer_buttons">
                    <button class="btn btn-primary bubbly-button btn-round btn-bottom-show-account" id="modal-btn-login">Логин</button>
                    <button class="btn btn-primary bubbly-button btn-round btn-bottom-show-account" id="modal-btn-password">Пароль</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="CreateAccountModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-create-account">
                <h4 class="modal-title">Добавить аккаунт</h4>
                <button type="button" class="close btn-close btn-close-create-account" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body modal-body-create-account">
                <label for="in-site">Сайт</label>
                <input class="form-control" type="text" id="in-site" maxlength="254">
                <label for="in-description">Описание</label>
                <input class="form-control" type="text" id="in-description" maxlength="254">
                <label for="in-login">Логин</label>
                <input class="form-control" type="text" id="in-login" maxlength="254">
                <label for="in-password">Пароль</label>
                <input class="form-control" type="password" id="in-password" maxlength="254">
                <button class="btn btn-primary bubbly-button btn-round btn-send" id="btn-send_account">Добавить</button>
            </div>
        </div>
    </div>
</div>
<div id="MasterPasswordModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-create-account">
                <h4 class="modal-title">Мастер пароль</h4>
                <button type="button" class="close btn-close btn-close-create-account" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body modal-body-master-password">
                <label for="in-old_password">Старый пароль</label>
                <input class="form-control" type="password" id="in-old_password" maxlength="254">
                <label for="in-new_password">Новый пароль</label>
                <input class="form-control" type="password" id="in-new_password" maxlength="254">
                <label for="in-repeat_new_password">Повторите новый пароль</label>
                <input class="form-control" type="password" id="in-repeat_new_password" maxlength="254">
                <button class="btn btn-primary bubbly-button btn-round btn-send" id="btn-send_master_password">Изменить</button>
                <div id="password_info">
                    <h5>Пароль должен соответствовать критериям:</h5>
                    <ul>
                        <li id="letter">Минимум <strong>одна маленькая буква</strong></li>
                        <li id="capital">Минимум <strong>одна заглавная буква</strong></li>
                        <li id="number">Минимум <strong>одна цифра</strong></li>
                        <li id="length">Быть не менее <strong>8 символов</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="EnterKeyModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-header-create-account">
                <h4 class="modal-title">Аутентификация</h4>
                <button type="button" class="close btn-close btn-close-create-account" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body modal-body-enter-password">
                <label for="in-enter_master_password">Введите мастер пароль</label>
                <input class="form-control" type="password" id="in-enter_master_password" inputmode="text" maxlength="254" autofocus>
                <button class="btn btn-primary btn-round btn-send" id="btn-enter_master_password">Войти</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block main_hide_preload %}{% endblock %}