{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            <p align="center">Мы отправили на ваш новый адрес электронной почты инструкции по подтверждению адреса электронной почты, если существует учетная запись с указанным вами адресом электронной почты. Вы получите их в ближайшее время.</p>
			<p align="center">Если вы не получили электронное письмо, убедитесь, что вы ввели адрес правильно, и проверьте папку со спамом.</p>
			<p align="center">После подтверждения нового адреса, мы автоматически установим его в вашем кабинете.</p>
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
{% endblock %}