{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            {% if valid %}
            <p align="center">Вы успешно подтвердили почту. Теперь вы можете вернуться на <a href="{% url 'home_url' %}">главную страницу</a> или в <a href="{% url 'lk_url' %}">личный кабинет</a>.</p>
            {% else %}
            <p align="center">Ссылка для подтвердения почты недействительна, возможно, потому, что она уже использовалась. Запросите новую проверку подтверждения почты.</p>
            {% endif %}
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
{% endblock %}