{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block addons_head %}
<script defer type="text/javascript" src="{% static 'js/addons/PassGenJS.min.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/landing.js' %}?ver={{ static_version }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            <div class="container">
            <div class="row">
                <div class="">
                    <h2>Как мы защищаем Ваши данные?</h2>
                    <p>В приложении применяется алгоритм шифрования AES-256 также известный как Rijndael - это симметричный алгоритм блочного шифрования. Он на столько хорош, что в истории не было случаев его взлома, но не потому что никаких попыток не было предпринято. Первая атака под названием "bicluque" была совершена в 2011 году, против алгоритма шифрования AES-128, которая провалилась. Для успешной атаки AES-128 потребовалось бы более миллиарда лет, чтобы преодолеть 126-битный ключ, не говоря уже об 128-битном ключе в AES-128.</p>
                    <p>256-битное шифрование в свою очередь не оставляет никаких шансов для злоумышленников. Для того чтобы убедится в этом, приведем пример. Допустим, один миллиард суперкомпьютеров со всего мира решили объединить свои усилия для уничтожения алгоритма шифрования AES. Также предположим, что они могут подбирать 250 ключей в секунду, что очень серьезно, так как это сделает их способными перебирать примерно один квадриллион ключей в секунду. В годах это около 31 557 600.</p>
                    <p>Это означает, что с миллиардом суперкомпьютеров, вычисляющих в нон-стопе в течение года, они смогут проверить только около 275 ключей. Другими словами потребуется 234 года, чтобы было обработано 0,1% от всех возможных вариантов.</p>
                </div>
                <div class="">
                    <h2>Что такое мастер пароль?</h2>
                    <p>На сайте используется так называемый "Мастер пароль". Это своего рода универсальный пароль для всех данных, а именно, тех которые Вы вводите при добавлении нового аккаунта на главной странице сайта. При каждом открытии главной страницы сайта, потребуется ввести мастер пароль для расшифровки данных, при этом сразу будут расшированы только названия сайтов и их описание, а вот логин и пароль не отображаются и находятся на странице в зашифрованном виде до тех пор, пока Вам они не понадобятся.</p>
                    <p>Внимательно относитесь к своему мастер паролю, так как, если Вы его забудете то его восстановление не возможно, в связи с особенностями системы безопасности сайта. Учтите это когда, будете вводить мастер пароль впервые.</p>
                </div>
                <div class="">
                    <h2>Общие правила безопастности</h2>
                    <p>Необходимо использовать сложные пароли которые включают в себя по крайней мере одну заглавную букву, две цифры, и должны состоять не менее из 8 символов.</p>
                    <p>Наилучшей практикой является использование генераторов сложных паролей. Пример сложно сгенерированного пароля: <span class="random-string"></span></p>
                    <p>Не используйте одинаковые пароли на различных ресурсах. Злоумышленник, получив один Ваш пароль, может получить доступ ко всем остальным ресурсам на которых использовались одинаковые пароли. Это касается, в том числе и этого сайта, не используйте один и тот же пароль для учетной записи и мастер пароля.</p>
                    <p>Убедитесь в отсутствии вирусов в Вашей операционной системе. Существуют вирусы, которые копируют содержимое буфера обмена, делают скриншоты экрана и за тем отправляют эти данные злоумышленнику, так как в нашем сервисе присутствует возможность просмотра пароля на экране и копирования в буфер обмена, наличие вирусов в операционной системе может подорвать конфиденциальность Ваших данных.</p>
                    <p>Избегайте посторонних глаз при вводе паролей, в особенности при вводе мастер пароля.</p>
                </div>
            </div>
            </div>
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
{% endblock %}