{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            <p>Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем koltaccount.ru (далее KoltAccount или Администрация) с одной стороны и пользователем сайта с другой. Сайт KoltAccount не является средством массовой информации.</p>
            <p>Используя сайт, Вы соглашаетесь с условиями данного соглашения. Если Вы не согласны с условиями данного соглашения, не используйте сайт KoltAccount!</p>
            <h2>Предмет соглашения</h2>
            <p>Администрация предоставляет пользователю право на размещение на сайте следующей информации:</p>
            <ul>
                <li><p>текстовой информации;</p></li>
                <li><p>ссылок на материалы, размещенные на других сайтах.</p></li>
            </ul>
            <h2>Права и обязанности сторон</h2>
            <p>Пользователь имеет право:</p>
            <ul>
                <li><p>осуществлять поиск информации на сайте;</p></li>
                <li><p>получать информацию на сайте;</p></li>
                <li><p>копировать информацию на другие сайты с указанием источника;</p></li>
                <li><p>требовать от администрации скрытия любой информации о пользователе;</p></li>
                <li><p>использовать информацию сайта в личных некоммерческих целях.</p></li>
            </ul>
            <p>Администрация имеет право:</p>
            <ul>
                <li><p>по своему усмотрению и необходимости создавать, изменять, отменять правила;</p></li>
                <li><p>ограничивать доступ к любой информации на сайте;</p></li>
                <li><p>создавать, изменять, удалять информацию;</p></li>
                <li><p>удалять учетные записи.</p></li>
            </ul>
            <p>Пользователь обязуется:</p>
            <ul>
                <li><p>обеспечивать сохранность личных данных от доступа третьих лиц;</p></li>
                <li><p>не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность;</p></li>
                <li><p>не нарушать работоспособность сайта;</p></li>
                <li><p>не совершать действия, направленные на введение других Пользователей в заблуждение;</p></li>
                <li><p>не передавать в пользование свою учетную запись и/или логин и пароль своей учетной записи третьим лицам;</p></li>
                <li><p>не регистрировать учетную запись от имени или вместо другого лица за исключением случаев, предусмотренных законодательством РФ;</p></li>
                <li><p>не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ;</p></li>
                <li><p>не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами.</p></li>
            </ul>
            <p>Администрация обязуется:</p>
            <ul>
                <li><p>поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам;</p></li>
                <li><p>осуществлять разностороннюю защиту учетной записи Пользователя;</p></li>
                <li><p>защищать информацию, распространение которой ограничено или запрещено законами путем вынесения предупреждения либо удалением учетной записи пользователя, нарушившего правила;</p></li>
                <li><p>предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной власти в случаях, установленных законом.</p></li>
            </ul>
            <h2>Ответственность сторон</h2>
            <ul>
                <li><p>пользователь лично несет полную ответственность за распространяемую им информацию;</p></li>
                <li><p>администрация не несет никакой ответственности за достоверность информации, скопированной из других источников;</p></li>
                <li><p>администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг;</p></li>
                <li><p>администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами;</p></li>
                <li><p>в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и так далее).</p></li>
            </ul>
            <p>Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса</p>
            <h2>Условия действия Соглашения</h2>
            <p>Данное Соглашение вступает в силу при любом использовании данного сайта.</p>
            <p>Соглашение перестает действовать при появлении его новой версии.</p>
            <p>Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.</p>
            <p>Администрация не оповещает пользователей об изменении в Соглашении.</p>
            <p align="right">Обновлено 28 сентября 2020</p>
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
{% endblock %}