{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block addons_head %}
<script defer type="text/javascript" src="{% static 'js/client_detection.js' %}?ver={{ static_version }}"></script>
<script defer type="text/javascript" src="{% static 'js/login.js' %}?ver={{ static_version }}"></script>
<script defer type="text/javascript" src="{% static 'js/form_message_handler.js' %}?ver={{ static_version }}"></script>
{% endblock %}
{% block content %}
<div class="container registration-container">
    <div class="row flex nomargin">
        {% load crispy_forms_tags %}
        <div class="card login_card">
            <div class="card-body">
                <h4 class="card-title text-center">{{ title }}</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block bubbly-button">Войти</button>
                    <div class="mt-20" align="center">
                        <a href="{% url 'password_reset' %}">Забыли пароль?</a>
                    </div>
                    <button type="button" class="in-password_additional_button js-show_password position-login-show_password">
                        <img title="Показать пароль" src="{% static 'img/svg/show-password.svg' %}" alt="show-password" height="30" width="30" />
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="form_message" value="{{ form_message }}">
{% endblock %}