{% extends 'base.html' %}
{% load i18n static %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block addons_head %}
<script defer type="text/javascript" src="{% static 'js/password_field_validation.js' %}?ver={{ static_version }}"></script>
<script defer type="text/javascript" src="{% static 'js/form_message_handler.js' %}?ver={{ static_version }}1"></script>
{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            <p>{% trans 'В целях безопасности введите старый пароль, а затем дважды введите новый пароль, чтобы мы могли проверить, правильно ли вы ввели его.' %}</p>
            <div class="row flex nomargin">
                {% load crispy_forms_tags %}
                <div class="card password_change_form_card">
                    <div class="card-body">
                        <form method="post">{% csrf_token %}
                            <fieldset class="module aligned">
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary btn-block bubbly-button default">{% trans 'Change my password' %}</button>
                            </fieldset>
                        </form>
                        <div id="password_info">
                            <h5>Пароль должен соответствовать критериям:</h5>
                            <ul>
                                <li id="letter">Минимум <strong>одна маленькая буква</strong></li>
                                <li id="capital">Минимум <strong>одна заглавная буква</strong></li>
                                <li id="number">Минимум <strong>одна цифра</strong></li>
                                <li id="length">Быть не менее <strong>8 символов</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
{% endblock %}