{% extends 'base.html' %}
{% load i18n static %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block addons_head %}
<script defer type="text/javascript" src="{% static 'js/password_field_validation.js' %}?ver={{ static_version }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            {% if validlink %}
            <p align="center">{% trans "Пожалуйста, введите свой новый пароль дважды, чтобы мы могли убедиться, что вы ввели его правильно." %}</p>
            <div class="row flex nomargin">
                {% load crispy_forms_tags %}
                <div class="card">
                    <div class="card-body">
                        <form method="post">{% csrf_token %}
                            <fieldset class="module aligned">
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary btn-block bubbly-button">{% trans 'Change my password' %}</button>
                            </fieldset>
                        </form>
                        <div id="password_info">
                            <h4>Пароль должен соответствовать критериям:</h4>
                            <ul>
                                <li id="letter">Минимум <strong>одна маленькая буква</strong></li>
                                <li id="capital">Минимум <strong>одна заглавная буква</strong></li>
                                <li id="number">Минимум <strong>одна цифра</strong></li>
                                <li id="length">Быть не менее <strong>8 символов</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <p align="center">{% trans "Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Запросите новый сброс пароля." %}</p>
            {% endif %}
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
{% endblock %}