{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            <p align="center">Забыли пароль? Введите ниже свой адрес электронной почты, и мы пришлем вам инструкции по установке нового пароля.</p>
            <div class="row flex nomargin">
                {% load crispy_forms_tags %}
                <div class="card password_reset_form_card">
                    <div class="card-body">
                        <form method="post">{% csrf_token %}
                            <fieldset class="module aligned">
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary btn-block bubbly-button">Восстановить</button>
                            </fieldset>
                        </form>
                    </div>
                    <p class="terms_confirm-text">Нажимая на кнопку «Восстановить», вы даете согласие на обработку персональных данных и соглашаетесь c <a href="{% url 'privacy_url' %}" target="_blank">политикой конфиденциальности</a>.</p>
                </div>
            </div>
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
{% endblock %}