{% extends 'base.html' %}
{% load i18n static %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            <p align="center">{% trans 'Ваш пароль установлен. Вы можете войти в систему сейчас.' %}</p>
            <div align="center">
            	<a href="{{ login_url }}">
            		<button type="submit" class="btn btn-primary btn-block bubbly-button password_reset_complete_login_button">{% trans 'Log in' %}</button>
            	</a>
            </div>
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
{% endblock %}